<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjs.mips.dao.studentAssStatus.StuAssExeStatusInfoMapper">

    <select id="getExeCommitCount" resultType="int">
        select commit_count from stu_ass_exe where stu_id = #{stu_id} and ass_id = #{ass_id} and exe_id = #{exe_id}
    </select>

    <insert id="setAtuAssExeStatusInfo" parameterType="StuAssExeStatusInfo">
        insert into stu_ass_exe_info (stu_id, ass_id, exe_id, commit_time, commit_content)
        values (#{stu_id},#{ass_id},#{exe_id}, #{commit_time}, #{commit_content})
    </insert>

</mapper>