<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjs.mips.dao.requestInfo.RequestInfoMapper">
    <insert id="setRequestInfo" parameterType="RequestInfo">
        insert into request_info (stu_id, request_header, request_time) values (#{stu_id}, #{request_header}, #{request_time})
    </insert>
</mapper>